In [128]:
#Importing the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.preprocessing import StandardScaler

In [129]:
df = pd.read_csv("cust_data.csv")

In [130]:
df.head()

,Cust_ID,Gender,Orders,Jordan,Gatorade,Samsung,Asus,Udis,Mondelez International,Wrangler,...,LG,Dior,Scabal,Tommy Hilfiger,Hollister,Forever 21,Colavita,Microsoft,Jiffy mix,Kraft
0,1,M,7,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,F,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,3,M,7,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,F,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,NaN,10,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,1,1

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 38 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Cust_ID                 30000 non-null  int64
 1   Gender                  27276 non-null  object
 2   Orders                  30000 non-null  int64
 3   Jordan                  30000 non-null  int64
 4   Gatorade                30000 non-null  int64
 5   Samsung                 30000 non-null  int64
 6   Asus                    30000 non-null  int64
 7   Udis                    30000 non-null  int64
 8   Mondelez International  30000 non-null  int64
 9   Wrangler                30000 non-null  int64
 10  Vans                    30000 non-null  int64
 11  Fila                    30000 non-null  int64
 12  Brooks                  30000 non-null  int64
 13  H&M                     30000 non-null  int64
 14  Dairy Queen             30000 non-null  int64
 15  Fendi                   30000 non-null  int64
 16  Hewlett Packard         30000 non-null  int64
 17  Pladis                  30000 non-null  int64
 18  Asics                   30000 non-null  int64
 19  Siemens                 30000 non-null  int64
 20  J.M. Smucker            30000 non-null  int64
 21  Pop Chips               30000 non-null  int64
 22  Juniper                 30000 non-null  int64
 23  Huawei                  30000 non-null  int64
 24  Compaq                  30000 non-null  int64
 25  IBM                     30000 non-null  int64
 26  Burberry                30000 non-null  int64
 27  Mi                      30000 non-null  int64
 28  LG                      30000 non-null  int64
 29  Dior                    30000 non-null  int64
 30  Scabal                  30000 non-null  int64
 31  Tommy Hilfiger          30000 non-null  int64
 32  Hollister               30000 non-null  int64
 33  Forever 21              30000 non-null  int64
 34  Colavita                30000 non-null  int64
 35  Microsoft               30000 non-null  int64
 36  Jiffy mix               30000 non-null  int64
 37  Kraft                   30000 non-null  int64
dtypes: int64(37), object(1)
memory usage: 8.7+ MB

In [150]:
feat = df.drop(['Orders','Gender', 'Cust_ID'], axis = 1)
feat.head()

,Jordan,Gatorade,Samsung,Asus,Udis,Mondelez International,Wrangler,Vans,Fila,Brooks,...,LG,Dior,Scabal,Tommy Hilfiger,Hollister,Forever 21,Colavita,Microsoft,Jiffy mix,Kraft
0,0,0,0,0,0,0,0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,2,0,0,0,0,0,1,1

In [151]:
scaler = StandardScaler()

feat = scaler.fit_transform(feat)

In [152]:
n_clusters = [4,5,6,7,8]
for k in n_clusters:
    cluster = KMeans(n_clusters = k,random_state = 10)
    predict = cluster.fit_predict(feat)
    
    score = silhouette_score(feat, predict, random_state=10)
    print("For n_clusters = {}, silhouette score is {})".format(k, score))

For n_clusters = 4, silhouette score is 0.28882936660509306)
For n_clusters = 5, silhouette score is 0.2734507732644211)
For n_clusters = 6, silhouette score is 0.21945733520582572)
For n_clusters = 7, silhouette score is 0.20381188273491224)
For n_clusters = 8, silhouette score is 0.19969011593382582)

In [153]:
# building k means model for k =4
model = KMeans(n_clusters = 4, random_state = 10)
model.fit(feat)

KMeans(n_clusters=4, random_state=10)

In [154]:
model.labels_

array([1, 2, 1, ..., 1, 1, 1])

In [155]:
df_out = df.copy()
df_out['cluster'] = model.labels_
df_out.head()

,Cust_ID,Gender,Orders,Jordan,Gatorade,Samsung,Asus,Udis,Mondelez International,Wrangler,...,Dior,Scabal,Tommy Hilfiger,Hollister,Forever 21,Colavita,Microsoft,Jiffy mix,Kraft,cluster
0,1,M,7,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,2,F,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,2
2,3,M,7,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,4,F,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,5,NaN,10,0,0,0,0,0,0,0,...,0,2,0,0,0,0,0,1,1,0

In [156]:
df_out.shape

(30000, 39)

In [157]:
df_out['cluster'].unique()

array([1, 2, 0, 3])

In [158]:
df_out.cluster.value_counts()

1    22772
2     5272
0     1255
3      701
Name: cluster, dtype: int64

In [159]:
model.cluster_centers_.shape

(4, 35)

In [160]:
center = pd.DataFrame(model.cluster_centers_, columns = df_out.columns[3:38])
center.head()

,Jordan,Gatorade,Samsung,Asus,Udis,Mondelez International,Wrangler,Vans,Fila,Brooks,...,LG,Dior,Scabal,Tommy Hilfiger,Hollister,Forever 21,Colavita,Microsoft,Jiffy mix,Kraft
0,0.446911,0.464653,0.233811,0.158847,0.102969,0.253960,0.317851,0.385554,0.095476,0.808415,...,1.396351,0.631866,0.290554,1.137030,0.335733,0.417016,1.391345,0.806428,1.575620,1.922702
1,-0.158476,-0.157536,-0.084381,-0.116934,-0.121153,-0.087155,-0.113422,-0.076786,-0.039016,-0.123452,...,-0.088160,-0.161581,-0.191656,-0.142253,-0.148547,-0.141765,-0.076493,-0.068999,-0.079321,-0.082740
2,0.594856,0.569990,0.324250,0.474459,0.511302,0.314878,0.430609,0.257115,0.145073,0.358618,...,0.061868,0.565501,0.770176,0.350728,0.586942,0.535840,0.003689,0.104907,-0.020615,-0.087260
3,-0.116054,0.008321,-0.110823,-0.046447,-0.085908,0.013628,-0.116023,-0.125255,0.007833,-0.127840,...,-0.099359,-0.125881,-0.074137,-0.045926,-0.180266,-0.162539,-0.032771,0.010947,-0.088290,-0.098193

In [161]:
cluster_1 = sorted(zip(list(center.iloc[0,:]), list(center.columns)), reverse = True)[:10]
cluster_1

[(2.568363392870013, 'Pladis'),
 (2.5566711435400653, 'Burberry'),
 (1.9227024096897485, 'Kraft'),
 (1.907329420864472, 'Dairy Queen'),
 (1.575619545523184, 'Jiffy mix'),
 (1.3963507697171862, 'LG'),
 (1.3913445112503924, 'Colavita'),
 (1.386412121421775, 'Pop Chips'),
 (1.2075350473368525, 'J.M. Smucker'),
 (1.1370303957637202, 'Tommy Hilfiger')]

In [162]:
np.unique(model.labels_,return_counts = True)[1][0]

1255

In [163]:
cluster_1_var=pd.DataFrame(cluster_1)[1]
cluster_1_var

0            Pladis
1          Burberry
2             Kraft
3       Dairy Queen
4         Jiffy mix
5                LG
6          Colavita
7         Pop Chips
8      J.M. Smucker
9    Tommy Hilfiger
Name: 1, dtype: object

In [180]:
df_clust_1 = df_out[['Cust_ID', 'Orders', 'Gender','cluster']][df_out.cluster==0]
df_clust_1

       Cust_ID  Orders Gender  cluster
4            5      10    NaN        0
27          28       0      M        0
39          40       0      F        0
57          58       5      M        0
62          63       5      F        0
...        ...     ...    ...      ...
29877    29878       6      F        0
29891    29892      12      F        0
29914    29915       1      F        0
29915    29916       7      F        0
29979    29980       9      F        0

[1255 rows x 4 columns]

In [181]:
df_clust_1.Gender.value_counts()

F    1031
M     151
Name: Gender, dtype: int64

In [165]:
cluster_2 = sorted(zip(list(center.iloc[1,:]), list(center.columns)), reverse = True)[:10]
cluster_2

[(-0.017300283220997612, 'IBM'),
 (-0.03901645356306235, 'Fila'),
 (-0.0553048519928918, 'Hewlett Packard'),
 (-0.05631154842238294, 'Compaq'),
 (-0.06899225921252994, 'Fendi'),
 (-0.06899895112799452, 'Microsoft'),
 (-0.07649272672740173, 'Colavita'),
 (-0.07678611218728655, 'Vans'),
 (-0.0793211322486066, 'Jiffy mix'),
 (-0.08274042329422646, 'Kraft')]

In [166]:
np.unique(model.labels_,return_counts = True)[1][1]

22772

In [167]:
cluster_2_var=pd.DataFrame(cluster_2)[1]
cluster_2_var

0                IBM
1               Fila
2    Hewlett Packard
3             Compaq
4              Fendi
5          Microsoft
6           Colavita
7               Vans
8          Jiffy mix
9              Kraft
Name: 1, dtype: object

In [182]:
df_clust_2 = df_out[['Cust_ID', 'Orders', 'Gender','cluster']][df_out.cluster == 1]
df_clust_2

       Cust_ID  Orders Gender  cluster
0            1       7      M        1
2            3       7      M        1
3            4       0      F        1
5            6       4      F        1
7            8       9      M        1
...        ...     ...    ...      ...
29995    29996       0      M        1
29996    29997       1      M        1
29997    29998       0      M        1
29998    29999       0      M        1
29999    30000       3      F        1

[22772 rows x 4 columns]

In [183]:
df_clust_2.Gender.value_counts()

F    16070
M     4453
Name: Gender, dtype: int64

In [169]:
cluster_3 = sorted(zip(list(center.iloc[2,:]), list(center.columns)), reverse = True)[:10]
cluster_3

[(0.7701757489709882, 'Scabal'),
 (0.594855992397594, 'Jordan'),
 (0.5869420849637282, 'Hollister'),
 (0.5699901524200937, 'Gatorade'),
 (0.5655013593708339, 'Dior'),
 (0.5438465382729066, 'H&M'),
 (0.5358397875071598, 'Forever 21'),
 (0.5113016084652948, 'Udis'),
 (0.5044601305847989, 'Huawei'),
 (0.4744591715429044, 'Asus')]

In [170]:
np.unique(model.labels_,return_counts = True)[1][2]

5272

In [171]:
cluster_3_var=pd.DataFrame(cluster_3)[1]
cluster_3_var

0        Scabal
1        Jordan
2     Hollister
3      Gatorade
4          Dior
5           H&M
6    Forever 21
7          Udis
8        Huawei
9          Asus
Name: 1, dtype: object

In [172]:
df_clust_3 = df_out[['Cust_ID', 'Orders', 'Gender','cluster']][df_out.cluster == 2]
df_clust_3

       Cust_ID  Orders Gender  cluster
1            2       0      F        2
6            7       6      F        2
9           10       0      F        2
19          20       4      F        2
20          21       9      F        2
...        ...     ...    ...      ...
29980    29981       3      F        2
29984    29985      11      F        2
29986    29987       0      M        2
29989    29990       0      F        2
29991    29992       4      F        2

[5272 rows x 4 columns]

In [173]:
df_clust_3.Gender.value_counts()

F    4456
M     471
Name: Gender, dtype: int64

In [174]:
cluster_4 = sorted(zip(list(center.iloc[3,:]), list(center.columns)), reverse = True)[:10]
cluster_4

[(4.612421213336688, 'Siemens'),
 (3.7571061200806266, 'Asics'),
 (0.3762419165162778, 'J.M. Smucker'),
 (0.11864320568860043, 'Pop Chips'),
 (0.06776496739127555, 'Juniper'),
 (0.06414297821158857, 'Huawei'),
 (0.04153395009907407, 'Mi'),
 (0.03042252234930062, 'Compaq'),
 (0.013628487938845139, 'Mondelez International'),
 (0.010947162250401926, 'Microsoft')]

In [175]:
np.unique(model.labels_,return_counts = True)[1][3]

701

In [176]:
cluster_4_var = pd.DataFrame(cluster_4)[1]
cluster_4_var

0                   Siemens
1                     Asics
2              J.M. Smucker
3                 Pop Chips
4                   Juniper
5                    Huawei
6                        Mi
7                    Compaq
8    Mondelez International
9                 Microsoft
Name: 1, dtype: object

In [177]:
df_clust_4 = df_out[['Cust_ID', 'Orders', 'Gender','cluster']][df_out.cluster == 3]
df_clust_4

       Cust_ID  Orders Gender  cluster
51          52      10      M        3
56          57       8      F        3
113        114       8      F        3
140        141       4      M        3
141        142       3      F        3
...        ...     ...    ...      ...
29550    29551       0      F        3
29633    29634       0      F        3
29701    29702       4    NaN        3
29748    29749       7      M        3
29811    29812       5      F        3

[701 rows x 4 columns]

In [178]:
df_clust_4.Gender.value_counts()

F    497
M    147
Name: Gender, dtype: int64