In [1]:
#Import libraries
import pymongo
import random

#To connect using mongoclient

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]

#Create a new DataBase Collection
mycol = mydb['tele_dict']

In [2]:
#insert one data

mydict = {"name": "Raju", "phone_number": 1234567890 , "place" : "Bangalore"}

mycol.insert_one(mydict)

In [3]:
#Randomise the choices to create a new collection into the table

def name():
    first_names = ['Manish', 'Manoj', 'Raju', 'Anisha', 'Rohan', 'Isha', 'Dev', 'Sampreeth', 'Robin', 'Shree']
    return random.choice(first_names)

def phone():
    start_num = [9, 8, 7]
    return str(random.choice(start_num)) + "".join([random.choice("0 1 2 3 4 5 6 7 8 9".split()) for i in range(9)])

def place():
    place = ['Mumbai', 'Bangalore', 'Delhi', 'Chennai', 'Hyderabad', 'Pune']
    return random.choice(place)

#To create a new set of data

data = []

for i in range(100):
    data.append({
        "_id": i,
        "name": name(),
        "phone_number": phone(),
        "place": place()
    })

In [4]:
#To display the new data
data

[{'_id': 0,
  'name': 'Raju',
  'phone_number': '8907034159',
  'place': 'Hyderabad'},
 {'_id': 1, 'name': 'Shree', 'phone_number': '8262373204', 'place': 'Chennai'},
 {'_id': 2, 'name': 'Robin', 'phone_number': '9257851340', 'place': 'Pune'},
 {'_id': 3,
  'name': 'Manish',
  'phone_number': '9050835629',
  'place': 'Hyderabad'},
 {'_id': 4,
  'name': 'Manoj',
  'phone_number': '8236872366',
  'place': 'Hyderabad'},
 {'_id': 5, 'name': 'Manoj', 'phone_number': '9405401385', 'place': 'Delhi'},
 {'_id': 6, 'name': 'Dev', 'phone_number': '7339773260', 'place': 'Bangalore'},
 {'_id': 7, 'name': 'Isha', 'phone_number': '8018843332', 'place': 'Delhi'},
 {'_id': 8, 'name': 'Raju', 'phone_number': '8438883021', 'place': 'Mumbai'},
 {'_id': 9,
  'name': 'Sampreeth',
  'phone_number': '8963302722',
  'place': 'Delhi'},
 {'_id': 10, 'name': 'Dev', 'phone_number': '7110486974', 'place': 'Chennai'},
 {'_id': 11, 'name': 'Manoj', 'phone_number': '7764957272', 'place': 'Mumbai'},
 {'_id': 12, 'name': 'Rohan', 'phone_number': '9595713318', 'place': 'Mumbai'},
 {'_id': 13, 'name': 'Rohan', 'phone_number': '7772695141', 'place': 'Pune'},
 {'_id': 14, 'name': 'Dev', 'phone_number': '8368479790', 'place': 'Mumbai'},
 {'_id': 15, 'name': 'Dev', 'phone_number': '7292999804', 'place': 'Pune'},
 {'_id': 16, 'name': 'Isha', 'phone_number': '7102821349', 'place': 'Pune'},
 {'_id': 17, 'name': 'Manish', 'phone_number': '9309297565', 'place': 'Pune'},
 {'_id': 18,
  'name': 'Raju',
  'phone_number': '9580819990',
  'place': 'Bangalore'},
 {'_id': 19,
  'name': 'Dev',
  'phone_number': '7595640332',
  'place': 'Bangalore'},
 {'_id': 20, 'name': 'Isha', 'phone_number': '8179184915', 'place': 'Chennai'},
 {'_id': 21, 'name': 'Isha', 'phone_number': '7297494132', 'place': 'Delhi'},
 {'_id': 22, 'name': 'Manoj', 'phone_number': '9136928205', 'place': 'Mumbai'},
 {'_id': 23, 'name': 'Isha', 'phone_number': '8388900176', 'place': 'Mumbai'},
 {'_id': 24,
  'name': 'Manish',
  'phone_number': '9816062868',
  'place': 'Chennai'},
 {'_id': 25,
  'name': 'Sampreeth',
  'phone_number': '7535923026',
  'place': 'Chennai'},
 {'_id': 26, 'name': 'Raju', 'phone_number': '8683438246', 'place': 'Delhi'},
 {'_id': 27,
  'name': 'Shree',
  'phone_number': '7313020604',
  'place': 'Chennai'},
 {'_id': 28, 'name': 'Manish', 'phone_number': '8684194447', 'place': 'Pune'},
 {'_id': 29, 'name': 'Anisha', 'phone_number': '8943998542', 'place': 'Pune'},
 {'_id': 30, 'name': 'Dev', 'phone_number': '9009614110', 'place': 'Chennai'},
 {'_id': 31,
  'name': 'Dev',
  'phone_number': '9646207377',
  'place': 'Hyderabad'},
 {'_id': 32, 'name': 'Dev', 'phone_number': '8264140571', 'place': 'Mumbai'},
 {'_id': 33,
  'name': 'Robin',
  'phone_number': '9662912254',
  'place': 'Hyderabad'},
 {'_id': 34,
  'name': 'Shree',
  'phone_number': '7957565588',
  'place': 'Hyderabad'},
 {'_id': 35, 'name': 'Shree', 'phone_number': '9995126824', 'place': 'Pune'},
 {'_id': 36,
  'name': 'Shree',
  'phone_number': '9661743998',
  'place': 'Hyderabad'},
 {'_id': 37, 'name': 'Raju', 'phone_number': '9963803009', 'place': 'Chennai'},
 {'_id': 38, 'name': 'Manish', 'phone_number': '8243584366', 'place': 'Delhi'},
 {'_id': 39, 'name': 'Rohan', 'phone_number': '9044247118', 'place': 'Pune'},
 {'_id': 40, 'name': 'Anisha', 'phone_number': '9692089620', 'place': 'Delhi'},
 {'_id': 41, 'name': 'Dev', 'phone_number': '8668245203', 'place': 'Chennai'},
 {'_id': 42,
  'name': 'Shree',
  'phone_number': '7428026061',
  'place': 'Chennai'},
 {'_id': 43,
  'name': 'Sampreeth',
  'phone_number': '9448074031',
  'place': 'Hyderabad'},
 {'_id': 44, 'name': 'Robin', 'phone_number': '7057017861', 'place': 'Mumbai'},
 {'_id': 45,
  'name': 'Anisha',
  'phone_number': '8669893244',
  'place': 'Mumbai'},
 {'_id': 46,
  'name': 'Sampreeth',
  'phone_number': '8850850595',
  'place': 'Delhi'},
 {'_id': 47,
  'name': 'Robin',
  'phone_number': '8133659255',
  'place': 'Hyderabad'},
 {'_id': 48,
  'name': 'Manoj',
  'phone_number': '8646000823',
  'place': 'Chennai'},
 {'_id': 49,
  'name': 'Shree',
  'phone_number': '8879836410',
  'place': 'Hyderabad'},
 {'_id': 50,
  'name': 'Manoj',
  'phone_number': '8178264468',
  'place': 'Bangalore'},
 {'_id': 51, 'name': 'Manoj', 'phone_number': '7306255921', 'place': 'Pune'},
 {'_id': 52,
  'name': 'Rohan',
  'phone_number': '8189290863',
  'place': 'Chennai'},
 {'_id': 53,
  'name': 'Shree',
  'phone_number': '8222060367',
  'place': 'Hyderabad'},
 {'_id': 54, 'name': 'Isha', 'phone_number': '8609245509', 'place': 'Chennai'},
 {'_id': 55,
  'name': 'Robin',
  'phone_number': '7994248463',
  'place': 'Hyderabad'},
 {'_id': 56, 'name': 'Manish', 'phone_number': '9388933594', 'place': 'Delhi'},
 {'_id': 57,
  'name': 'Rohan',
  'phone_number': '7338725154',
  'place': 'Hyderabad'},
 {'_id': 58,
  'name': 'Manoj',
  'phone_number': '7828349204',
  'place': 'Hyderabad'},
 {'_id': 59, 'name': 'Anisha', 'phone_number': '7374988188', 'place': 'Pune'},
 {'_id': 60,
  'name': 'Sampreeth',
  'phone_number': '9086293146',
  'place': 'Bangalore'},
 {'_id': 61, 'name': 'Robin', 'phone_number': '7261299934', 'place': 'Mumbai'},
 {'_id': 62, 'name': 'Isha', 'phone_number': '9134458238', 'place': 'Chennai'},
 {'_id': 63,
  'name': 'Rohan',
  'phone_number': '8022415174',
  'place': 'Bangalore'},
 {'_id': 64, 'name': 'Isha', 'phone_number': '8137091377', 'place': 'Mumbai'},
 {'_id': 65,
  'name': 'Isha',
  'phone_number': '8359473824',
  'place': 'Hyderabad'},
 {'_id': 66,
  'name': 'Manish',
  'phone_number': '9678541333',
  'place': 'Mumbai'},
 {'_id': 67, 'name': 'Dev', 'phone_number': '8160660114', 'place': 'Delhi'},
 {'_id': 68,
  'name': 'Rohan',
  'phone_number': '7080828901',
  'place': 'Chennai'},
 {'_id': 69,
  'name': 'Shree',
  'phone_number': '9479656019',
  'place': 'Chennai'},
 {'_id': 70,
  'name': 'Sampreeth',
  'phone_number': '8213907986',
  'place': 'Mumbai'},
 {'_id': 71, 'name': 'Rohan', 'phone_number': '8289890770', 'place': 'Mumbai'},
 {'_id': 72,
  'name': 'Shree',
  'phone_number': '9338478171',
  'place': 'Hyderabad'},
 {'_id': 73, 'name': 'Dev', 'phone_number': '8881699538', 'place': 'Chennai'},
 {'_id': 74,
  'name': 'Raju',
  'phone_number': '9369487693',
  'place': 'Hyderabad'},
 {'_id': 75,
  'name': 'Robin',
  'phone_number': '8449518046',
  'place': 'Chennai'},
 {'_id': 76, 'name': 'Raju', 'phone_number': '7658958778', 'place': 'Mumbai'},
 {'_id': 77,
  'name': 'Rohan',
  'phone_number': '7674442107',
  'place': 'Bangalore'},
 {'_id': 78,
  'name': 'Rohan',
  'phone_number': '8955131246',
  'place': 'Bangalore'},
 {'_id': 79,
  'name': 'Anisha',
  'phone_number': '9875675480',
  'place': 'Bangalore'},
 {'_id': 80,
  'name': 'Manoj',
  'phone_number': '8493105647',
  'place': 'Hyderabad'},
 {'_id': 81,
  'name': 'Manish',
  'phone_number': '7880421993',
  'place': 'Bangalore'},
 {'_id': 82,
  'name': 'Raju',
  'phone_number': '7736291192',
  'place': 'Hyderabad'},
 {'_id': 83,
  'name': 'Sampreeth',
  'phone_number': '8465069054',
  'place': 'Pune'},
 {'_id': 84, 'name': 'Shree', 'phone_number': '9527717864', 'place': 'Mumbai'},
 {'_id': 85, 'name': 'Shree', 'phone_number': '8755494211', 'place': 'Mumbai'},
 {'_id': 86,
  'name': 'Manish',
  'phone_number': '7968560645',
  'place': 'Bangalore'},
 {'_id': 87, 'name': 'Raju', 'phone_number': '7161735236', 'place': 'Delhi'},
 {'_id': 88, 'name': 'Rohan', 'phone_number': '9320035140', 'place': 'Mumbai'},
 {'_id': 89,
  'name': 'Isha',
  'phone_number': '9591539984',
  'place': 'Bangalore'},
 {'_id': 90,
  'name': 'Rohan',
  'phone_number': '7695674935',
  'place': 'Chennai'},
 {'_id': 91,
  'name': 'Robin',
  'phone_number': '7437073618',
  'place': 'Bangalore'},
 {'_id': 92,
  'name': 'Robin',
  'phone_number': '9473873976',
  'place': 'Bangalore'},
 {'_id': 93,
  'name': 'Manish',
  'phone_number': '7555073617',
  'place': 'Bangalore'},
 {'_id': 94,
  'name': 'Anisha',
  'phone_number': '9388451904',
  'place': 'Hyderabad'},
 {'_id': 95,
  'name': 'Shree',
  'phone_number': '9582972850',
  'place': 'Chennai'},
 {'_id': 96,
  'name': 'Rohan',
  'phone_number': '8580039866',
  'place': 'Bangalore'},
 {'_id': 97, 'name': 'Manoj', 'phone_number': '7891672456', 'place': 'Delhi'},
 {'_id': 98, 'name': 'Manoj', 'phone_number': '9340734933', 'place': 'Mumbai'},
 {'_id': 99, 'name': 'Isha', 'phone_number': '8857117286', 'place': 'Delhi'}]

In [5]:
#Insert many
mycol.insert_many(data)

In [6]:
#To print the entire collection
for x in mycol.find():
    print(x)

{'_id': ObjectId('6361579fb5ae6ff5fe9ac7c2'), 'name': 'Raju', 'phone_number': 1234567890, 'place': 'Bangalore'}
{'_id': 0, 'name': 'Raju', 'phone_number': '8907034159', 'place': 'Hyderabad'}
{'_id': 1, 'name': 'Shree', 'phone_number': '8262373204', 'place': 'Chennai'}
{'_id': 2, 'name': 'Robin', 'phone_number': '9257851340', 'place': 'Pune'}
{'_id': 3, 'name': 'Manish', 'phone_number': '9050835629', 'place': 'Hyderabad'}
{'_id': 4, 'name': 'Manoj', 'phone_number': '8236872366', 'place': 'Hyderabad'}
{'_id': 5, 'name': 'Manoj', 'phone_number': '9405401385', 'place': 'Delhi'}
{'_id': 6, 'name': 'Dev', 'phone_number': '7339773260', 'place': 'Bangalore'}
{'_id': 7, 'name': 'Isha', 'phone_number': '8018843332', 'place': 'Delhi'}
{'_id': 8, 'name': 'Raju', 'phone_number': '8438883021', 'place': 'Mumbai'}
{'_id': 9, 'name': 'Sampreeth', 'phone_number': '8963302722', 'place': 'Delhi'}
{'_id': 10, 'name': 'Dev', 'phone_number': '7110486974', 'place': 'Chennai'}
{'_id': 11, 'name': 'Manoj', 'phone_number': '7764957272', 'place': 'Mumbai'}
{'_id': 12, 'name': 'Rohan', 'phone_number': '9595713318', 'place': 'Mumbai'}
{'_id': 13, 'name': 'Rohan', 'phone_number': '7772695141', 'place': 'Pune'}
{'_id': 14, 'name': 'Dev', 'phone_number': '8368479790', 'place': 'Mumbai'}
{'_id': 15, 'name': 'Dev', 'phone_number': '7292999804', 'place': 'Pune'}
{'_id': 16, 'name': 'Isha', 'phone_number': '7102821349', 'place': 'Pune'}
{'_id': 17, 'name': 'Manish', 'phone_number': '9309297565', 'place': 'Pune'}
{'_id': 18, 'name': 'Raju', 'phone_number': '9580819990', 'place': 'Bangalore'}
{'_id': 19, 'name': 'Dev', 'phone_number': '7595640332', 'place': 'Bangalore'}
{'_id': 20, 'name': 'Isha', 'phone_number': '8179184915', 'place': 'Chennai'}
{'_id': 21, 'name': 'Isha', 'phone_number': '7297494132', 'place': 'Delhi'}
{'_id': 22, 'name': 'Manoj', 'phone_number': '9136928205', 'place': 'Mumbai'}
{'_id': 23, 'name': 'Isha', 'phone_number': '8388900176', 'place': 'Mumbai'}
{'_id': 24, 'name': 'Manish', 'phone_number': '9816062868', 'place': 'Chennai'}
{'_id': 25, 'name': 'Sampreeth', 'phone_number': '7535923026', 'place': 'Chennai'}
{'_id': 26, 'name': 'Raju', 'phone_number': '8683438246', 'place': 'Delhi'}
{'_id': 27, 'name': 'Shree', 'phone_number': '7313020604', 'place': 'Chennai'}
{'_id': 28, 'name': 'Manish', 'phone_number': '8684194447', 'place': 'Pune'}
{'_id': 29, 'name': 'Anisha', 'phone_number': '8943998542', 'place': 'Pune'}
{'_id': 30, 'name': 'Dev', 'phone_number': '9009614110', 'place': 'Chennai'}
{'_id': 31, 'name': 'Dev', 'phone_number': '9646207377', 'place': 'Hyderabad'}
{'_id': 32, 'name': 'Dev', 'phone_number': '8264140571', 'place': 'Mumbai'}
{'_id': 33, 'name': 'Robin', 'phone_number': '9662912254', 'place': 'Hyderabad'}
{'_id': 34, 'name': 'Shree', 'phone_number': '7957565588', 'place': 'Hyderabad'}
{'_id': 35, 'name': 'Shree', 'phone_number': '9995126824', 'place': 'Pune'}
{'_id': 36, 'name': 'Shree', 'phone_number': '9661743998', 'place': 'Hyderabad'}
{'_id': 37, 'name': 'Raju', 'phone_number': '9963803009', 'place': 'Chennai'}
{'_id': 38, 'name': 'Manish', 'phone_number': '8243584366', 'place': 'Delhi'}
{'_id': 39, 'name': 'Rohan', 'phone_number': '9044247118', 'place': 'Pune'}
{'_id': 40, 'name': 'Anisha', 'phone_number': '9692089620', 'place': 'Delhi'}
{'_id': 41, 'name': 'Dev', 'phone_number': '8668245203', 'place': 'Chennai'}
{'_id': 42, 'name': 'Shree', 'phone_number': '7428026061', 'place': 'Chennai'}
{'_id': 43, 'name': 'Sampreeth', 'phone_number': '9448074031', 'place': 'Hyderabad'}
{'_id': 44, 'name': 'Robin', 'phone_number': '7057017861', 'place': 'Mumbai'}
{'_id': 45, 'name': 'Anisha', 'phone_number': '8669893244', 'place': 'Mumbai'}
{'_id': 46, 'name': 'Sampreeth', 'phone_number': '8850850595', 'place': 'Delhi'}
{'_id': 47, 'name': 'Robin', 'phone_number': '8133659255', 'place': 'Hyderabad'}
{'_id': 48, 'name': 'Manoj', 'phone_number': '8646000823', 'place': 'Chennai'}
{'_id': 49, 'name': 'Shree', 'phone_number': '8879836410', 'place': 'Hyderabad'}
{'_id': 50, 'name': 'Manoj', 'phone_number': '8178264468', 'place': 'Bangalore'}
{'_id': 51, 'name': 'Manoj', 'phone_number': '7306255921', 'place': 'Pune'}
{'_id': 52, 'name': 'Rohan', 'phone_number': '8189290863', 'place': 'Chennai'}
{'_id': 53, 'name': 'Shree', 'phone_number': '8222060367', 'place': 'Hyderabad'}
{'_id': 54, 'name': 'Isha', 'phone_number': '8609245509', 'place': 'Chennai'}
{'_id': 55, 'name': 'Robin', 'phone_number': '7994248463', 'place': 'Hyderabad'}
{'_id': 56, 'name': 'Manish', 'phone_number': '9388933594', 'place': 'Delhi'}
{'_id': 57, 'name': 'Rohan', 'phone_number': '7338725154', 'place': 'Hyderabad'}
{'_id': 58, 'name': 'Manoj', 'phone_number': '7828349204', 'place': 'Hyderabad'}
{'_id': 59, 'name': 'Anisha', 'phone_number': '7374988188', 'place': 'Pune'}
{'_id': 60, 'name': 'Sampreeth', 'phone_number': '9086293146', 'place': 'Bangalore'}
{'_id': 61, 'name': 'Robin', 'phone_number': '7261299934', 'place': 'Mumbai'}
{'_id': 62, 'name': 'Isha', 'phone_number': '9134458238', 'place': 'Chennai'}
{'_id': 63, 'name': 'Rohan', 'phone_number': '8022415174', 'place': 'Bangalore'}
{'_id': 64, 'name': 'Isha', 'phone_number': '8137091377', 'place': 'Mumbai'}
{'_id': 65, 'name': 'Isha', 'phone_number': '8359473824', 'place': 'Hyderabad'}
{'_id': 66, 'name': 'Manish', 'phone_number': '9678541333', 'place': 'Mumbai'}
{'_id': 67, 'name': 'Dev', 'phone_number': '8160660114', 'place': 'Delhi'}
{'_id': 68, 'name': 'Rohan', 'phone_number': '7080828901', 'place': 'Chennai'}
{'_id': 69, 'name': 'Shree', 'phone_number': '9479656019', 'place': 'Chennai'}
{'_id': 70, 'name': 'Sampreeth', 'phone_number': '8213907986', 'place': 'Mumbai'}
{'_id': 71, 'name': 'Rohan', 'phone_number': '8289890770', 'place': 'Mumbai'}
{'_id': 72, 'name': 'Shree', 'phone_number': '9338478171', 'place': 'Hyderabad'}
{'_id': 73, 'name': 'Dev', 'phone_number': '8881699538', 'place': 'Chennai'}
{'_id': 74, 'name': 'Raju', 'phone_number': '9369487693', 'place': 'Hyderabad'}
{'_id': 75, 'name': 'Robin', 'phone_number': '8449518046', 'place': 'Chennai'}
{'_id': 76, 'name': 'Raju', 'phone_number': '7658958778', 'place': 'Mumbai'}
{'_id': 77, 'name': 'Rohan', 'phone_number': '7674442107', 'place': 'Bangalore'}
{'_id': 78, 'name': 'Rohan', 'phone_number': '8955131246', 'place': 'Bangalore'}
{'_id': 79, 'name': 'Anisha', 'phone_number': '9875675480', 'place': 'Bangalore'}
{'_id': 80, 'name': 'Manoj', 'phone_number': '8493105647', 'place': 'Hyderabad'}
{'_id': 81, 'name': 'Manish', 'phone_number': '7880421993', 'place': 'Bangalore'}
{'_id': 82, 'name': 'Raju', 'phone_number': '7736291192', 'place': 'Hyderabad'}
{'_id': 83, 'name': 'Sampreeth', 'phone_number': '8465069054', 'place': 'Pune'}
{'_id': 84, 'name': 'Shree', 'phone_number': '9527717864', 'place': 'Mumbai'}
{'_id': 85, 'name': 'Shree', 'phone_number': '8755494211', 'place': 'Mumbai'}
{'_id': 86, 'name': 'Manish', 'phone_number': '7968560645', 'place': 'Bangalore'}
{'_id': 87, 'name': 'Raju', 'phone_number': '7161735236', 'place': 'Delhi'}
{'_id': 88, 'name': 'Rohan', 'phone_number': '9320035140', 'place': 'Mumbai'}
{'_id': 89, 'name': 'Isha', 'phone_number': '9591539984', 'place': 'Bangalore'}
{'_id': 90, 'name': 'Rohan', 'phone_number': '7695674935', 'place': 'Chennai'}
{'_id': 91, 'name': 'Robin', 'phone_number': '7437073618', 'place': 'Bangalore'}
{'_id': 92, 'name': 'Robin', 'phone_number': '9473873976', 'place': 'Bangalore'}
{'_id': 93, 'name': 'Manish', 'phone_number': '7555073617', 'place': 'Bangalore'}
{'_id': 94, 'name': 'Anisha', 'phone_number': '9388451904', 'place': 'Hyderabad'}
{'_id': 95, 'name': 'Shree', 'phone_number': '9582972850', 'place': 'Chennai'}
{'_id': 96, 'name': 'Rohan', 'phone_number': '8580039866', 'place': 'Bangalore'}
{'_id': 97, 'name': 'Manoj', 'phone_number': '7891672456', 'place': 'Delhi'}
{'_id': 98, 'name': 'Manoj', 'phone_number': '9340734933', 'place': 'Mumbai'}
{'_id': 99, 'name': 'Isha', 'phone_number': '8857117286', 'place': 'Delhi'}

In [7]:
#Query to find a record
mycol.find_one({'place': 'Mumbai'})

{'_id': 8, 'name': 'Raju', 'phone_number': '8438883021', 'place': 'Mumbai'}

In [8]:
#Query to find all the data with some particular

for document in mycol.find({'place': 'Mumbai'}):
    print(document)

{'_id': 8, 'name': 'Raju', 'phone_number': '8438883021', 'place': 'Mumbai'}
{'_id': 11, 'name': 'Manoj', 'phone_number': '7764957272', 'place': 'Mumbai'}
{'_id': 12, 'name': 'Rohan', 'phone_number': '9595713318', 'place': 'Mumbai'}
{'_id': 14, 'name': 'Dev', 'phone_number': '8368479790', 'place': 'Mumbai'}
{'_id': 22, 'name': 'Manoj', 'phone_number': '9136928205', 'place': 'Mumbai'}
{'_id': 23, 'name': 'Isha', 'phone_number': '8388900176', 'place': 'Mumbai'}
{'_id': 32, 'name': 'Dev', 'phone_number': '8264140571', 'place': 'Mumbai'}
{'_id': 44, 'name': 'Robin', 'phone_number': '7057017861', 'place': 'Mumbai'}
{'_id': 45, 'name': 'Anisha', 'phone_number': '8669893244', 'place': 'Mumbai'}
{'_id': 61, 'name': 'Robin', 'phone_number': '7261299934', 'place': 'Mumbai'}
{'_id': 64, 'name': 'Isha', 'phone_number': '8137091377', 'place': 'Mumbai'}
{'_id': 66, 'name': 'Manish', 'phone_number': '9678541333', 'place': 'Mumbai'}
{'_id': 70, 'name': 'Sampreeth', 'phone_number': '8213907986', 'place': 'Mumbai'}
{'_id': 71, 'name': 'Rohan', 'phone_number': '8289890770', 'place': 'Mumbai'}
{'_id': 76, 'name': 'Raju', 'phone_number': '7658958778', 'place': 'Mumbai'}
{'_id': 84, 'name': 'Shree', 'phone_number': '9527717864', 'place': 'Mumbai'}
{'_id': 85, 'name': 'Shree', 'phone_number': '8755494211', 'place': 'Mumbai'}
{'_id': 88, 'name': 'Rohan', 'phone_number': '9320035140', 'place': 'Mumbai'}
{'_id': 98, 'name': 'Manoj', 'phone_number': '9340734933', 'place': 'Mumbai'}

In [9]:
#Update a phone number

myquery = {"phone_number": "8981320977" }
newvalues = { "$set": {"phone_number": "8981320970" }}

mycol.update_one(myquery, newvalues)

#print "customers" after the update:
for x in mycol.find({"phone_number": "7070854169" }):
    print(x)

In [10]:
#Change the name of the place in multiple entries using update_many option

myquery = {"place": "Bangalore"}
newvalues = { "$set":{"place": "Bengaluru"}}

x = mycol.update_many(myquery, newvalues)

print(x.modified_count, "documents updated.")

17 documents updated.

In [11]:
#Delete an entry
myquery = {'name': 'Raju'}

mycol.delete_one(myquery)

In [12]:
#Delete multiple entires

myquery = { "name": {"$regex": "^I"} }

x = mycol.delete_many(myquery)

print(x.deleted_count, " documents deleted.")

11  documents deleted.